@mixin body($font-size) {
  @extend .body;
  font-size: $font-size;
  line-height: calc(#{$font-size} * 1.5);
  margin: calc(#{$font-size} * 0.75) 0;
}

.body {
  font-weight: 400;

  &--xsmall {
    @include body(var(--font-size-75))
  }

  &--small {
    @include body(var(--font-size-100))
  }

  &--medium {
    @include body(var(--font-size-200))
  }

  &--large {
    @include body(var(--font-size-300))
  }

  &--xlarge {
    @include body(var(--font-size-400))
  }

  &--xxlarge {
    @include body(var(--font-size-500))
  }

  &--xxxlarge {
    @include body(var(--font-size-600))
  }
}
