@import "../tokens/global";

:root {
  --font-weight-light: #{map-get($tokens, "font-weight-light")};
  --font-weight-medium: #{map-get($tokens, "font-weight-medium")};
  --font-weight-heavy: #{map-get($tokens, "font-weight-heavy")};
}

.weight--heavy {
  font-weight: var(--font-weight-heavy);
}

.weight--medium {
  font-weight: var(--font-weight-medium);
}

.weight--light {
  font-weight: var(--font-weight-light);
}

strong,
b {
  @extend .weight--heavy;
}
