@import "../tokens/global";

$button-height: 3rem;

:root {
  --button-height: #{$button-height};

  @media screen and (min-width: map-get($tokens, "scale-desktop-min-width")) {
    --button-height: calc(#{$button-height} * var(--scale-mobile-to-desktop-proportion));
  }
}

.button {
  --button-bg-color: transparent;
  --button-bg-color-hover: var(--grey-300);
  --button-bg-color-active: var(--grey-400);
  --button-border-color: var(--grey-200);
  --button-border-color-hover: var(--button-bg-color-hover);
  --button-border-color-active: var(--button-bg-color-active);
  --button-text-color: inherit;
  --button-text-color-hover: inherit;
  @include bodySkeleton(var(--font-size-200));
  align-items: center;
  background-color: var(--button-color);
  border: 2px solid var(--button-border-color);
  border-radius: var(--default-rounding);
  color: var(--button-text-color);
  cursor: pointer;
  display: inline-flex;
  font-weight: var(--font-weight-heavy);
  height: var(--button-height);
  justify-content: center;
  min-width: calc(var(--button-height) * 2.25);
  padding: 0 1rem;
  text-decoration: none;
  transition: var(--transition-timing) background-color ease-in-out, var(--transition-timing) color ease-in-out, var(--transition-timing) border-color ease-in-out;
  vertical-align: bottom;

  &:not( [disabled] ) {
    &:hover {
      background-color: var(--button-bg-color-hover);
      border-color: var(--button-border-color-hover);
      color: var(--button-text-color-hover);
    }

    &:active {
      background-color: var(--button-bg-color-active);
      border-color: var(--button-bg-color-active);
    }
  }

  &:disabled {
    cursor: default;
    background-color: var(--grey-75);
    border-color: var(--grey-75);
    color: var(--grey-500);
  }

  &__icon {
    height: 100%;
    pointer-events: none;

    ~ .button__label {
      padding-left: 0.25rem;
    }
  }

  &--informative {
    --button-bg-color-hover: var(--blue-500);
    --button-bg-color-active: var(--blue-600);
    --button-border-color: var(--color-static-blue-400);
    --button-text-color: var(--blue-500);
    --button-text-color-hover: var(--color-static-white);
  }

  &--negative {
    --button-bg-color-hover: var(--red-500);
    --button-bg-color-active: var(--red-600);
    --button-border-color: var(--color-static-red-400);
    --button-text-color: var(--red-500);
    --button-text-color-hover: var(--color-static-white);
  }

  &--cta {
    --button-color: var(--grey-200);

    &.button--informative {
      --button-color: var(--color-static-blue-400);
      --button-text-color: var(--color-static-white);
    }

    &.button--negative {
      --button-color: var(--color-static-red-400);
      --button-text-color: var(--color-static-white);
    }
  }

  &--quiet {
    background-color: transparent;
    border-color: transparent;
    color: inherit;
    min-width: initial;

    &:not( [disabled] ) {
      &:hover {
        background-color: var(--grey-100);
        border-color: var(--grey-100);
      }

      &:active {
        background-color: var(--grey-200);
        border-color: var(--grey-200);
      }
    }

    &:disabled {
      background-color: transparent;
      border-color: transparent;
    }
  }

  &--square {
    min-width: initial;
    padding: 0;
    width: var(--button-height);
  }
}
