@import "../tokens/global";

$button-height: 3rem;

:root {
  --button-height: #{$button-height};

  @media screen and (min-width: map-get($tokens, "scale-desktop-min-width")) {
    --button-height: calc(#{$button-height} * var(--scale-mobile-to-desktop-proportion));
  }
}

.button {
  @include bodySkeleton(var(--font-size-200));
  align-items: center;
  background-color: var(--grey-200);
  border: 2px solid var(--grey-200);
  border-radius: var(--default-rounding);
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  font-weight: var(--font-weight-heavy);
  height: var(--button-height);
  justify-content: center;
  min-width: calc(var(--button-height) * 2.25);
  padding: 0 1rem;
  text-decoration: none;
  transition: var(--transition-timing) background-color ease-in-out, var(--transition-timing) color ease-in-out, var(--transition-timing) border-color ease-in-out;
  vertical-align: bottom;

  &:not( [disabled] ) {
    &:hover {
      background-color: var(--grey-300);
      border-color: var(--grey-300);
    }

    &:active {
      background-color: var(--grey-400);
      border-color: var(--grey-400);
    }
  }

  &:disabled {
    cursor: default;
    background-color: var(--grey-75);
    border-color: var(--grey-75);
    color: var(--grey-500);
  }

  &__icon {
    height: 100%;
    pointer-events: none;

    ~ .button__label {
      padding-left: 0.25rem;
    }
  }

  &--cta {
    background-color: var(--color-static-blue-400);
    border-color: var(--color-static-blue-400);
    color: var(--color-static-white);

    &:not( [disabled] ) {
      &:hover {
        background-color: var(--blue-500);
        border-color: var(--blue-500);
        color: var(--color-static-white);
      }

      &:active {
        background-color: var(--blue-600);
        border-color: var(--blue-600);
      }
    }
  }

  &--negative {
    background-color: var(--color-static-red-400);
    border-color: var(--color-static-red-400);
    color: var(--color-static-white);

    &:not( [disabled] ) {
      &:hover {
        background-color: var(--red-500);
        border-color: var(--red-500);
        color: var(--color-static-white);
      }

      &:active {
        background-color: var(--red-600);
        border-color: var(--red-600);
      }
    }
  }

  &--outline {
    background-color: transparent;
    color: inherit;
  }

  &--quiet {
    @extend .button--outline;
    border-color: transparent;
    min-width: initial;

    &:not( [disabled] ) {
      &:hover {
        background-color: var(--grey-100);
        border-color: var(--grey-100);
      }

      &:active {
        background-color: var(--grey-200);
        border-color: var(--grey-200);
      }
    }

    &:disabled {
      background-color: transparent;
      border-color: transparent;
    }
  }

  &--square {
    min-width: initial;
    padding: 0;
    width: var(--button-height);
  }
}
