:root {
  // Static colors
  --static-white: 255, 255, 255;
  --static-black: 0, 0, 0;

  --static-blue-400: 38, 128, 235;
  --static-red-400: 227, 72, 80;
  --static-orange-400: 230, 134, 25;
  --static-green-400: 45, 157, 120;
}
