:root {
  // Static colors
  --static-white: 255, 255, 255;
  --static-black: 0, 0, 0;

  --static-blue-400: 55, 142, 240;
  --static-red-400: 236, 91, 98;
  --static-orange-400: 242, 148, 35;
  --static-green-400: 51, 171, 132;
}
