:root {
  --text-content-high-color: var(--grey-900);
  --text-content-medium-color: var(--grey-800);
  --text-content-low-color: var(--grey-700);
  --placeholder-text-color: var(--grey-600);
  --disabled-text-color: var(--grey-500);
  --text-content-high-color-revere: var(--grey-50);
  --base-background-color: var(--grey-100);
  --alternate-background-high-color: var(--grey-75);
  --alternate-background-low-color: var(--grey-50);
}

::selection {
  background-color: rgba(var(--static-blue-400), 1);
  color: rgba(var(--static-white), 1);
  text-shadow: none;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: rgba(var(--grey-50), 1);
  color: rgba(var(--text-content-medium-color), 1);
  font-family: "Open Sans", Verdana, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(var(--text-content-high-color), 1);
  margin: 0;
}

img {
  user-select: none;
}
