:root {
  --grey-50: var(--static-white);
  --grey-75: 250, 250, 250;
  --grey-100: 245, 245, 245;
  --grey-200: 234, 234, 234;
  --grey-300: 225, 225, 225;
  --grey-400: 202, 202, 202;
  --grey-500: 179, 179, 179;
  --grey-600: 142, 142, 142;
  --grey-700: 110, 110, 110;
  --grey-800: 75, 75, 75;
  --grey-900: 44, 44, 44;

  --blue-500: 20, 115, 230;
  --blue-600: 13, 102, 208;
  --blue-700: 9, 90, 186;

  --red-500: 215, 55, 63;
  --red-600: 201, 37, 45;
  --red-700: 187, 18, 26;

  --orange-500: 218, 123, 17;
  --orange-600: 203, 111, 16;
  --orange-700: 189, 100, 13;

  --green-500: 38, 142, 108;
  --green-600: 18, 128, 92;
  --green-700: 16, 113, 84;
}
