@import "../tokens";

$mobile-width-px: 768px;
$mobile-width: pxtoem($mobile-width-px);
$desktop-width: map-get($tokens, "scale-desktop");

:root {
  --scale-mobile-max-width: #{map-get($tokens, "scale-mobile-max-width")};
  --scale-desktop-min-width: #{map-get($tokens, "scale-desktop-min-width")};
  --scale-mobile-to-desktop-proportion: #{map-get($tokens, "scale-mobile-to-desktop-proportion")};
}
