@mixin bodySkeleton($font-size) {
  font-size: $font-size;
  line-height: calc(#{$font-size} * 1.5);
}

@mixin body($font-size) {
  font-weight: var(--font-weight-medium);
  margin: calc(#{$font-size} * 0.75) 0;
}

.body {
  &--xs {
    @include body(var(--font-size-50));
  }

  &--s {
    @include body(var(--font-size-75));
  }

  &--m {
    @include body(var(--font-size-100));
  }

  &--l {
    @include body(var(--font-size-200));
  }

  &--xl {
    @include body(var(--font-size-300));
  }
}

p {
  @extend .body--m;
}
