@import "../scale/scale";

@mixin heading($font-size) {
  font-size: $font-size;
  font-weight: var(--font-weight-heavy);
  line-height: calc(#{$font-size} * 1.3);
  margin-bottom: calc(#{$font-size} * 0.75);
  margin-top: calc(#{$font-size} / 1.125);
}

.heading {
  &--xl {
    @include heading(var(--font-size-800));
  }

  &--l {
    @include heading(var(--font-size-700));
  }

  &--m {
    @include heading(var(--font-size-600));
  }

  &--s {
    @include heading(var(--font-size-500));
  }

  &--xs {
    @include heading(var(--font-size-400));
  }

  &--subheading {
    @include heading(var(--font-size-200));
  }
}

@media screen and (min-width: map-get($tokens, "scale-desktop-min-width")) {
  .heading {
    &--xl {
      @include heading(var(--font-size-1100));
    }

    &--l {
      @include heading(var(--font-size-1000));
    }

    &--m {
      @include heading(var(--font-size-900));
    }

    &--s {
      @include heading(var(--font-size-800));
    }

    &--xs {
      @include heading(var(--font-size-700));
    }

    &--subheading {
      @include heading(var(--font-size-400));
    }
  }
}

h1 {
  @extend .heading--xl;
}

h2 {
  @extend .heading--l;
}

h3 {
  @extend .heading--m;
}

h4 {
  @extend .heading--s;
}

h5 {
  @extend .heading--xs;
}

h6 {
  @extend .heading--subheading;
}
