@import "../scale/scale";
@import "../tokens/global";

:root {
  --font-size-50: #{map-get($tokens, "font-size-50")};
  --font-size-75: #{map-get($tokens, "font-size-75")};
  --font-size-100: #{map-get($tokens, "font-size-100")};
  --font-size-200: #{map-get($tokens, "font-size-200")};
  --font-size-300: #{map-get($tokens, "font-size-300")};
  --font-size-400: #{map-get($tokens, "font-size-400")};
  --font-size-500: #{map-get($tokens, "font-size-500")};
  --font-size-600: #{map-get($tokens, "font-size-600")};
  --font-size-700: #{map-get($tokens, "font-size-700")};
  --font-size-800: #{map-get($tokens, "font-size-800")};
  --font-size-900: #{map-get($tokens, "font-size-900")};
  --font-size-1000: #{map-get($tokens, "font-size-1000")};
  --font-size-1100: #{map-get($tokens, "font-size-1100")};

  @media screen and (min-width: map-get($tokens, "scale-desktop-min-width")) {
    --font-size-50: calc(#{map-get($tokens, "font-size-50")} * var(--scale-mobile-to-desktop-proportion));
    --font-size-75: calc(#{map-get($tokens, "font-size-75")} * var(--scale-mobile-to-desktop-proportion));
    --font-size-100: calc(#{map-get($tokens, "font-size-100")} * var(--scale-mobile-to-desktop-proportion));
    --font-size-200: calc(#{map-get($tokens, "font-size-200")} * var(--scale-mobile-to-desktop-proportion));
    --font-size-300: calc(#{map-get($tokens, "font-size-300")} * var(--scale-mobile-to-desktop-proportion));
    --font-size-400: calc(#{map-get($tokens, "font-size-400")} * var(--scale-mobile-to-desktop-proportion));
    --font-size-500: calc(#{map-get($tokens, "font-size-500")} * var(--scale-mobile-to-desktop-proportion));
    --font-size-600: calc(#{map-get($tokens, "font-size-600")} * var(--scale-mobile-to-desktop-proportion));
    --font-size-700: calc(#{map-get($tokens, "font-size-700")} * var(--scale-mobile-to-desktop-proportion));
    --font-size-800: calc(#{map-get($tokens, "font-size-800")} * var(--scale-mobile-to-desktop-proportion));
    --font-size-900: calc(#{map-get($tokens, "font-size-900")} * var(--scale-mobile-to-desktop-proportion));
    --font-size-1000: calc(#{map-get($tokens, "font-size-1000")} * var(--scale-mobile-to-desktop-proportion));
    --font-size-1100: calc(#{map-get($tokens, "font-size-1100")} * var(--scale-mobile-to-desktop-proportion));
  }
}
